{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>Hello {{ name }}! ✅</h1>

    {% for row in cnts|batch(4) %}
        <div class="row">
            {% for cnt in row %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card border shadow lift">
                        <div class="card-header">
                            {{ cnt.getCntType() }}
                        </div>
                        <div class="card-body border shadow">
                            <h5 class="card-title">{{ cnt.getCntName() }}</h5>
                            <p class="card-text">{{ cnt.getCntInfo() }}</p>
                        </div>
                        <div class="card-footer">
                            {{cnt.id}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

<blockquote class="blockquote">
    <p class="mb-0">{{ json }}</p>
</blockquote>

{% endblock %}
